# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
.env

# Project specific
uploads/
*.mp3
*.wav

# Database
*.sqlite3
db_data/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Alembic
alembic/versions/*.pyc
